@font-face {
    font-family: D2Coding;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/font/D2Coding-Ver1.3.2-20180524-all.ttc");
}

code {
    font-family: D2Coding, "JetBrains Mono Medium", monospace;
    background-color: #300e1c;
    padding: 0.2em 0.4em;
    border-radius: 6px;
}

.highlight{
    background-color: #300e1c;
    border-radius: 15px;
}
